.DS_Store
.idea
/config/cdn.php
/config/ecommerce.php
/config/course.php
/node_modules
/public
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
storage/debugbar
storage/debugbar/*
.vapor/
.env.production
.env.staging
.env
composer.lock
